@model MusicFavorites.Models.FavoriteSong

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete @Model.SongTitle from your favorites?</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="FavoriteSongId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
